.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.log
.pdf
.png
.rdb
.rdx
analysis/QC_cache/
analysis/figures/
.xml
analysis_GOF/figures/
analysis_GOF/QC_cache/
data/annotation/Drosophila_melanogaster.BDGP6.22.97.chr.gtf
analysis_koenecke/figures/
analysis_koenecke/QC_cache/
